@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primaryBackground: #c4c4c4;
$secondBackground: #121212;
$primaryColor: #333333;
$secondColor: #fff;
$widthContainer: 85%;
$colorSuccess: #21a67a;
$colorWarm: #f0a92e;
$colorHit: #007bc2;

body {
    background: $primaryBackground;
    // font-family: Roboto, sans-serif;
    font-family: "Montserrat", sans-serif;
    a {
        text-decoration: none;
    }
    a,
    p {
        color: $primaryColor;
    }

    input,
    textarea {
        font-family: "Montserrat", sans-serif;
        outline: none;
        border: 1px solid rgba(51, 51, 51, 0.3);
    }
}

.toast {
    width: 500px;
    height: 90px;
    margin: 1rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #fff;

    &::after {
        content: "x";
        font-size: 20px;
        color: #cbcbcb;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    &--success {
        color: $colorSuccess;
    }
    &--warm {
        color: $colorWarm;
    }
    &--hit {
        color: $colorHit;
    }

    > .line {
        height: calc(100% - 20px);
        width: 5px;
        margin: 10px 0 10px 8px;
        border-radius: 5px;
        &--success {
            background-color: $colorSuccess;
        }
        &--warm {
            background-color: $colorWarm;
        }
        &--hit {
            background-color: $colorHit;
        }
    }

    &__icon {
        font-size: 26px;
        padding: 20px;
        > .fas {
            font-weight: 500;
        }
    }

    &__title {
        text-align: left;
        &-main {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #000;
        }
        &-sub {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: #838383;
        }
    }
}
